<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <payment>
            <alyapay>
                <active>0</active>
                <title>AlyaPay</title>
                <model>AlyaPay\Payment\Model\PaymentMethod</model>
                <group>alyapay</group>
                <api_base_url>https://sandbox-api.alyapay.com</api_base_url>
                <status_approved>processing</status_approved>
                <status_canceled>canceled</status_canceled>
                <status_expired>canceled</status_expired>
                <debug>0</debug>
                <widget_checkout_enabled>0</widget_checkout_enabled>
                <widget_product_enabled>0</widget_product_enabled>
                <widget_cart_enabled>0</widget_cart_enabled>
                <widget_theme>light</widget_theme>
                <widget_currency></widget_currency>
                <transaction_expiry>30</transaction_expiry>
                <amount_min>500</amount_min>
                <amount_max>15000</amount_max>
                <sort_order>10</sort_order>
            </alyapay>
        </payment>
    </default>
</config>
